html, body {
  height: 100%
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

#map {
  left: 362px;
  height: 100%;
  right: 0;
  bottom: 0;
  position: absolute;

}

.menu {
  height: 100%;
  width: 340px;
}

ol {
  margin: 0;
  padding-top: 20px;
  list-style: none;
}